# dependencies
/node_modules

# production
/dist
/build

# misc
.DS_Store
.env
.env.* 
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# TypeScript
*.tsbuildinfo

# test coverage
coverage

# eslint cache
.eslintcache

# parcel-bundler cache
.cache

# vite cache
.vite

# output of build tools
out/
*.log

# local development SSL
localhost.pem
localhost-key.pem
